.footer {
    width: 100%;
    height: 70px;
    /* background-color: var(--color-bg-2); */
    /* border-top: 1px solid;
    border-color: var(--color-txt-1); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer img {
    margin-left: 0.5rem;
}

.footer a {
    color: var(--color-txt-pm-1);
    font-size: var(--font-size-xxs);
    display: flex;
    justify-content: center;
    align-items: center;
}